@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
.title {
    font-size: 5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.para {
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: -4rem;
    margin-bottom: 6rem;

}
.something {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 900px;
    height: 150px;
    background: #e1cdf5;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: 1s;

    
  }
  .something:hover {
      transition: 1s;
    width: 1000px;
    height: 200px;
    font-size: 60px;
  }

  .something:hover::before, .something:hover::after{
    width: 1000px;
    height: 200px;
    transition: 1s;
  }
  
  .something::before, .something::after {
    transition: 1s;
    display: block;
    content: '';
    position: absolute;
    width: 900px;
    height: 150px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .something:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }
